html {
    background-color: #3b4252;
    font-family: 'Rubik', sans-serif;
    overflow-y: hidden;
}

body {
  margin:0px;
}

h1 { 
    color: #eceff4;
}

p {
  color: #eceff4;
  font-size: 25px;
  margin-top: -15px;
}

.logo {
  width: 25vw;
  position: relative;
  top: 25%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

.sections {
  display: grid;
  grid-template-areas:
  "A B C";
  grid-template-columns: 27.2vw 45vw 27.2vw;
  height: 100%;
  width: 100%;
}

.configuration {
  display: grid;
  grid-area: A;
  background-color: #434c5e;
  width: 100%;
  grid-template-areas:
  "a b"
  "c c"
  "d d";
  align-items: center;
  grid-template-rows: 19vh 25vh 50vh; 
}

.rightSide {
  display: grid;
  grid-area: C;
  height: 100%;
  width: 100%;
  background-color: #434c5e;
  grid-template-areas:
  "x y z"
  "w w w";
  align-items: center;
  grid-template-rows: 15vh auto; 
}
/* Settings */
.settingformat {
  grid-area: O;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas:
  "E F"
  "G H";
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

p4 {
  font-size: 40px;
  font-family: 'Rubik', sans-serif;
  color: #eceff4;
}

.musictext {
  grid-area: E;
  width: 6.3vw;
  position: relative;
  left: 50%; 
  transform: translate(-50%, -30%);
}

.soundtext {
  grid-area: G;
  width: 6.3vw;
  position: relative;
  left: 50%; 
  transform: translate(-50%, -30%);
}

.sound {
  grid-area: H;
  width: 6.3vw;
  position: relative;
  left: 50%; 
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.button-cover, .knobs, .layer
{
    grid-area: F;

}

.button
{
    position: relative;
    top: 50%;
    width: 150px;
    height: 60px;
    margin: -20px auto 0 auto;
    overflow: hidden;
    background-color: #ebf7fc;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 4px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 10 */
#button-10 .knobs:before, #button-10 .knobs:after, #button-10 .knobs span
{
    position: absolute;
    top: 4px;
    width: 50px;
    height: 28px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 12px 4px;
    border-radius: 4px;
    transition: 0.3s ease all;
}

#button-10 .knobs:before
{
    content: '';
    left: 4px;
    background-color: #729dc9;
}

#button-10 .knobs:after
{
    content: 'NO';
    right: 4px;
    color: #4e4e4e;
}

#button-10 .knobs span
{
    display: inline-block;
    left: 4px;
    color: #fff;
    z-index: 1;
}

#button-10 .checkbox:checked + .knobs span
{
    color: #4e4e4e;
}

#button-10 .checkbox:checked + .knobs:before
{
    left: 88px;
    background-color: #bf616a;
}

#button-10 .checkbox:checked + .knobs:after
{
    color: #fff;
}

#button-10 .checkbox:checked ~ .layer
{
    background-color: #d8dee9;
}


.button-cover2, .knobs2, .layer2
{
    grid-area: H;

}

.button
{
    position: relative;
    top: 50%;
    width: 150px;
    height: 60px;
    margin: -20px auto 0 auto;
    overflow: hidden;
    background-color: #d8dee9;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 4px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs2
{
    z-index: 2;
}

.layer2
{
    width: 100%;
    background-color: #d8dee9;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 10 */
#button-10 .knobs2:before, #button-10 .knobs2:after, #button-10 .knobs2 span
{
    position: absolute;
    top: 4px;
    width: 50px;
    height: 28px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 12px 4px;
    border-radius: 4px;
    transition: 0.3s ease all;
}

#button-10 .knobs2:before
{
    content: '';
    left: 4px;
    background-color: #729dc9;
}

#button-10 .knobs2:after
{
    content: 'NO';
    right: 4px;
    color: #4e4e4e;
}

#button-10 .knobs2 span
{
    display: inline-block;
    left: 4px;
    color: #fff;
    z-index: 1;
}

#button-10 .checkbox:checked + .knobs2 span
{
    color: #4e4e4e;
}

#button-10 .checkbox:checked + .knobs2:before
{
    left: 88px;
    background-color: #bf616a;
}

#button-10 .checkbox:checked + .knobs2:after
{
    color: #fff;
}

#button-10 .checkbox:checked ~ .layer2
{
    background-color: #fcebeb;
}


/*  */
.arrow {
  grid-area: x;
  background-color: #434c5e;
  width: 6.3vw;
  position: relative;
  top: 54%;
  left: 50%; 
  transform: translate(-50%, -50%);
  transition: 0.3s;
  cursor: pointer;
}

.help {
  grid-area: y;
  background-color: #434c5e;;
  width: 6.2vw;
  position: relative;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  transition: 0.3s;
  cursor: pointer;
}

.settings {
  grid-area: z;
  background-color: #434c5e;;
  width: 6.5vw;
  position: relative;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  transition: 0.3s;
  cursor: pointer;
}

.points {
  grid-area: c;
  width: 95%;
  height: fit-content;
  background-color: #4c566a;
  border-color: #2e3440;
  border-radius: 10px;
  border-style: solid;
  
  position: relative;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

.ranking {
  grid-area: d;
  width: 95%;
  height: 90%;
  background-color: #4c566a;
  border-color: #2e3440;
  border-radius: 10px;
  border-style: solid;
  
  position: relative;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
} 

.game {
  grid-area: B;
  background-color: #3b4252;
  width:100%;
  height:100%;
}

.nextPiece {
  grid-area: w;
  background-color: #434c5e;
}

.box {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  
  width:20vw;
  height: 22vw;
  background-color: #4c566a;
  border-color: #2e3440;
  border-radius: 10px;
  border-style: solid;
}

.contents {
  padding-left: 1vw;
} 

p2 {
  color: #eceff4;
  font-size: 1.5vw;
  top: 5%;
  padding-left: 5%;
  position:relative;

  justify-content:left;
  display: flex;

}

.instructions {
  width: 40vw;
  grid-area: Z;
  padding-left: 5vw;
}

.back {
  cursor: pointer;
  grid-area: X;
  width: 8vw;
}

.backSettings {
  cursor: pointer;
  grid-area: N;
  width: 8vw;
}

.help:hover {
  transition: 0.3s; 
  color: #ffffff;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(10deg); /* Safari */
  -moz-transform: translateX(-50%) translateY(-50%) rotate(10deg); /* Firefox 3.6 Firefox 4 */
  -ms-transform: translateX(-50%) translateY(-50%) rotate(10deg); /* IE9 */
  -o-transform: translateX(-50%) translateY(-50%) rotate(10deg); /* Opera */
  transform: translateX(-50%) translateY(-50%) rotate(10deg); /* W3C */  
  -webkit-transform-origin:center;
  -moz-transform-origin:center;
  -ms-transform-origin:center;
  -o-transform-origin: center;
  transform-origin:center;
  cursor: pointer;
}


.arrow:hover {
  transition: 0.3s; 
  color: #ffffff;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(20deg); /* Safari */
  -moz-transform: translateX(-50%) translateY(-50%) rotate(20deg); /* Firefox 3.6 Firefox 4 */
  -ms-transform: translateX(-50%) translateY(-50%) rotate(20deg); /* IE9 */
  -o-transform: translateX(-50%) translateY(-50%) rotate(20deg); /* Opera */
  transform: translateX(-50%) translateY(-50%) rotate(20deg); /* W3C */  
  -webkit-transform-origin:center;
  -moz-transform-origin:center;
  -ms-transform-origin:center;
  -o-transform-origin: center;
  transform-origin:center;
}

.settings:hover {
  transition: 0.3s; 
  color: #ffffff;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(15deg); /* Safari */
  -moz-transform: translateX(-50%) translateY(-50%) rotate(15deg); /* Firefox 3.6 Firefox 4 */
  -ms-transform: translateX(-50%) translateY(-50%) rotate(15deg); /* IE9 */
  -o-transform: translateX(-50%) translateY(-50%) rotate(15deg); /* Opera */
  transform: translateX(-50%) translateY(-50%) rotate(15deg); /* W3C */  
  -webkit-transform-origin:center;
  -moz-transform-origin:center;
  -ms-transform-origin:center;
  -o-transform-origin: center;
  transform-origin:center;
}

.playarea {
  border-color: #2e3440;
  border-radius: 10px;
  border-style: solid;
}

.gameover {
  width: 20vw;
  height: 10vw;
  background-color: #4c566a;
  border-color: #2e3440;
  border-radius: 10px;
  border-style: solid;
  
  position: absolute;
  top: 40%;
  left: 50%; 
  transform: translate(-50%, -50%);
  align-content: center;
  visibility:hidden;
}

.helpbox {
  width: 50vw;
  height: 34vw;
  background-color: #4c566a;
  border-color: #2e3440;
  border-radius: 10px;
  border-style: solid;
  
  position: absolute;
  top: 45%;
  left: 50%; 
  transform: translate(-50%, -50%);
  visibility:hidden;
  padding-bottom: 15px;

  display: grid;
  grid-template-areas:
  "X Y"
  "Z Z";
  z-index: 99999;
}

.settingscreen {
  width: 50vw;
  height: 34vw;
  background-color: #4c566a;
  border-color: #2e3440;
  border-radius: 10px;
  border-style: solid;
  
  position: absolute;
  top: 45%;
  left: 50%; 
  transform: translate(-50%, -50%);
  visibility:hidden;
  padding-bottom: 15px;

  display: grid;
  grid-template-areas:
  "N M"
  "O O";
  z-index: 99999;
  grid-template-rows: min-content;

  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

p3 {
  font-size: 60px;
  color: #eceff4;
  white-space: nowrap;
}

.controltextcontainer {
  grid-area: Y;
  padding-top: 2vw;
  padding-right: 6vw;
}

.controltextcontainersettings {
  grid-area: M;
  padding-top: 2vw;
  padding-right: 6vw;
  height: fit-content;
}

p1 {
  font-size: 60px;
  position: relative;
  color: #bf616b;
  justify-content:center;
  display: flex;
  vertical-align: middle;

  text-align: center;
  position: relative;
  top: 40%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ranks {
  display: grid;
  grid-template-areas:
  "p s";
  grid-template-columns: 50% 50%;
  height: 100%;
  width: 100%;
}

.score1, .score2, .score3, .score4, .score5 {
  line-height: 3vw;
}

.player1, .player2, .player3, .player4, .player5 {
  line-height: 3vw;
}

.players {
  grid-area: p;
}

.score {
  grid-area: s;
  text-align: right;
  padding-right: 1.5vw;
}

.input {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}